body {
    background-image: url("blacksky.png"); /*url("blacksky.png");*/
    font-size: 16px;
    transition: .3s ease all;
    margin: 0px;
    padding:0px;
    width:auto;
    height: auto;
    overflow-x:hidden;
  }
a:link {
    text-decoration: none;
  }
a:visited {
    text-decoration: none;
  }

.contenedor{
    width: 100%;
    height: 100%;
}

    /*header*/
    .header{
        position: -webkit-sticky; 
        position: sticky;
        height:auto;
        width:auto;
        top: 0;
        background-color: rgb(1, 10, 1);
        border: 10px solid black;
        display:grid;
        grid-template-columns: 1fr 8fr 1fr 0.1fr 1fr;
        z-index:90;
    }
        h2.option1{
            color:white;
            text-align:center;
            font-family: 'Nunito', sans-serif;
        }
        .option{
            border-radius:10%;
            height:100%;
            background-color: rgb(82, 51, 51);
            background-position:top;
            opacity:0.8;
            transition: all 150ms ease-in-out;
        }


    /*encabezado*/
    .contenedor1{
        height:250px;
        width:auto;

    }
        .caja1{
            position:relative;
            top:10px;
        }
            /*letra del encabezado*/
            h1.nombreyapellido {
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 45px;
                color: rgb(230, 190, 12);
                width:400px;
                height:auto;
                padding:10px;
                margin:auto;
                text-align:center;
            
            }

            h2.estudiante {
                font-family: 'Nunito', sans-serif;
                color:rgb(230, 190, 12);
                font-size: 22px;
                width:400px;
                height:auto;
                padding:5px;
                margin:auto;
                text-align:center;
                
            }

    /* */
    .contenedor2{
        height:auto;
        display: grid;
        grid-template-columns: 2.2fr 1fr 2.2fr;
        background: linear-gradient(rgb(1 10 1),rgb(63 43 43));

    }

        .caja2{
            height:50px;
        }
        /*foto */
        .caja3{
            height:50px;
        }

        .imagen{
            position:relative;
            border-radius:50%;
            bottom:20px;
            z-index:100;
            opacity:1;
        }

        .caja4{
            height:50px;
        }

    /*contenido*/
    .contenedor3{
        height:auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        background-color:rgb(82 51 51);
        opacity:0.8;
        

    }
        /*contenido izq*/
        .caja5{
            background-color: rgb(75, 69, 69);
            border-radius:12%/5%;
            height:100%;
        }
            .contactfixed{
                margin-top:100px;
                margin-bottom:100px;
                position:sticky;
                top:150px;
            }
            .numerodetelefono{
                color:white;
                text-align:center;
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 25px;
                margin-bottom:20px;

            }
            .email{
                color:white;
                text-align:center;
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 25px;
                height:auto;
                margin-bottom:20px;
                
            }
            .ubicacion{
                color:white;
                text-align:center;
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 25px;
                margin-bottom:20px;
                
            }
            .github{
                color:white;
                text-align:center;
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 25px;
                margin-bottom:20px;
            }
        
        
        /*contenido der*/
        .caja6{
            height:100%;
            width:auto;
            background-color: #757070ea;
            border-radius:5%;
            display:grid;
            grid-template-rows: 1fr 1fr;
        }
        .sobre_mi_box{
            position:relative;
            margin: 0px 50px 0px 50px;
            text-align:left;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            color:white;
        }
        h3.caja6letters{
            font-size:25px;
        }
        h4.caja6letters{
            font-size:20px;
        }
        p.caja6letters{
            font-size:18px;
            font-weight:400;
        }

        .caja7{
            display:grid;
            grid-template-columns: 1fr 1fr;
            position:relative;
            bottom:auto;
            margin:50px;
        }
            .educacion_y_idiomas{
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 25px;
                height:auto;
                width: 500px;
                color:white;
                left:50px;
            }

            .cursos_y_habilidades{
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                font-size: 25px;
                color:white;
                left:50px;
                width:400px;
            }

    

    .contenedor4{
        position:relative;
    }
        .barra{
            height:50px;
            background: linear-gradient(rgb(63 43 43),rgb(1 10 1));
        }

        .contacto{
            position:relative;
            height:auto;
            text-align:center;
            width:200px;
            margin:auto;
            color:white;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            font-size: 25px;
            top:100px;
        }
 
        /*formulario*/
        .formulario{
            position:relative;
            width:200px;
            height:auto;
            padding:30px;
            margin:auto;
            margin-top:100px;
            border-radius:4px;
            font-family: 'Nunito', sans-serif;
            font-size: 25px;
            color:white;
        }

        .casilla{
            position:relative;
            right:50px;
            width:300px;
            background-color: white;
            border-color:15px #2196f3;
            font-family: 'Nunito', sans-serif;
            font-size: 25px;
            height:50px;
            margin:10px;
            border-radius:5%;
            text-align:center;
        }
        .botons{
            position:relative;
            left:70px;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            font-size: 25px;
            background-color:rgb(63 43 43);
        }

            
            


       



